{{#if readmeHeader}}
{{#with readmeHeader}}
<div align="center">

[![Visit {{{title}}}](https://raw.githubusercontent.com/{{gitUserId}}/{{gitRepoName}}/HEAD{{#unless isGitSubmodule}}/{{{@root.outputDirectory}}}{{/unless}}/header.png)]({{{url}}})

# {{{title}}}

{{> readme_description}}

{{> readme_badges}}

</div>
{{/with}}
{{else}}
# {{{projectName}}}

{{> readme_description}}

{{> readme_badges}}
{{/if}}

## Table of Contents

<!-- toc -->

## Requirements

Python {{{generatorLanguageVersion}}}

## Installing

```sh
pip install {{{projectName}}}=={{{packageVersion}}}
```

## Getting Started

{{> README_common }}
