{{#if readmeHeader}}
{{#with readmeHeader}}
<div align="center">

# {{{title}}}

[![Visit {{{title}}}](./header.png)]({{{url}}})

{{> readme_badges}}

</div>
{{/with}}
{{else}}
# {{{projectName}}}

{{> readme_badges}}
{{/if}}

{{#unless omitInfoDescription}}
{{#if appDescriptionWithNewLines}}
{{{appDescriptionWithNewLines}}}

{{/if}}
{{/unless}}
## Requirements

Python {{{generatorLanguageVersion}}}

## Installing

```sh
pip install {{{projectName}}}=={{{packageVersion}}}
```

## Getting Started

{{> README_common }}
